lab7/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WeatherService"
             targetNamespace="http://www.example.com/weather"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.example.com/weather"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <types>
    <xsd:schema targetNamespace="http://www.example.com/weather"
                xmlns="http://www.example.com/weather"
                elementFormDefault="qualified">
      <xsd:element name="City" type="xsd:string"/>
      <xsd:element name="WeatherReport" type="xsd:string"/>
    </xsd:schema>
  </types>

  <message name="GetWeatherRequest">
    <part name="city" element="tns:City"/>
  </message>

  <message name="GetWeatherResponse">
    <part name="weatherReport" element="tns:WeatherReport"/>
  </message>

  <portType name="WeatherPortType">
    <operation name="GetWeather">
      <input message="tns:GetWeatherRequest"/>
      <output message="tns:GetWeatherResponse"/>
    </operation>
  </portType>

  <binding name="WeatherBinding" type="tns:WeatherPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetWeather">
      <soap:operation soapAction="http://www.example.com/weather/GetWeather"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="WeatherService">
    <port name="WeatherPort" binding="tns:WeatherBinding">
      <soap:address location="http://www.example.com/weather/service"/>
    </port>
  </service>

</definitions>
